I would ask what’s their current housing situation?

Are they homeless or at risk?
Homeless – How long have they been homeless for?
Where are they located ?
At risk – What are the causes that put them at risk?
Are they seeking housing assistance as a single person, or Household? If a family – the composition of the household members?
Struggling to keep up with the rent?
Received a notice of termination?
Current rental property on sale?
Relationship breakdown?
Marriage breakdown?
DV?
Relocation to another property, as landlord and agent don’t want to complete repairs and maintenance issues.
 

What income are they receiving?
Do they know the gross income? – single person or family (each family member’s income)
DVA ? With a breakdown of income?
Centrelink?
Comm super?